@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", "sans-serif";
}

.front-card {
  background: url("./images/bg-card-front.png") no-repeat center/cover;
  width: 300px;
  height: 190px;
  border-radius: 8px;
  position: absolute;
  top: 138px;
  z-index: 1;
  left: 14px;
}

.back-card {
  background: url("./images/bg-card-back.png") no-repeat center/cover;
  width: 300px;
  height: 190px;
  border-radius: 8px;
  position: absolute;
  right: 20px;
  top: 30px;
}

form label {
  @apply block tracking-wider text-slate-800 mb-2 text-sm;
}

form input {
  @apply border border-slate-300 py-3 px-4 rounded-lg outline-none w-full mb-4;
}

.btn {
  background-color: hsl(278, 68%, 11%);
  @apply py-3 px-6 rounded shadow text-white text-base tracking-wide;
}

@media (min-width: 768px) {
  .front-card {
    width: 500px;
    height: 280px;
    top: 16%;
    left: 10%;
  }

  .back-card {
    width: 500px;
    height: 280px;
    top: 52%;
    left: 18%;
  }
  .form-div {
    position: absolute;
    top: 10%;
    left: 55%;
  }
}
